#den{
background-color: aquamarine;
width: 100px;
height: 100px;
border-style: dotted;
padding-right: 3CM;
padding-top: 25px;
margin-top: 7px;
}
#button{
    background-color: rgb(200, 255, 0);
}
#uu{
    background-color: bisque;
    border-style: groove;
    width: 80px;

}
.header{
    display: inline-flex;
    background-color: beige;
padding-left: 8px;
    margin-top: 15px;
}

}
